# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
.env
.venv

# Cython debug symbols
cython_debug/

# Visual Studio Code
.vscode/

# Output files
*.out

# Parser table
parsetab.py
